.vs
MKL_*
*.MKL.*
bin
x64



*.exe
*.dll
*.obj

# This folder appears to be created (temporarily) when 
# modifying C++ file wile running.
enc_temp_folder


# C# junk in project creation wizard
NewProjectWizard/bin
NewProjectWizard/obj


Release
NewProjectWizard/builddate.cs
builddate.hpp
JCR/ID/ID.ini
